VITE_COMFY_BACKEND_URL=http://localhost:8188
VITE_OPERATOR_NAME=Skyes Over London
VITE_BRAND_NAME=SkyeForge Visual Engine
VITE_SUPPORT_EMAIL=info@skyesoverlondon.com
COMFY_UPSTREAM_REPO=https://github.com/comfy-org/ComfyUI.git
COMFY_UPSTREAM_REF=master
